<div class="page-header">
  <h2>Lists Index</h2>
</div>

<br><br><br>
<%= link_to "Add a List", new_list_path %>


<table>
<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.type %></td>
    <td><%= link_to "Edit", edit_list_path(list) %><td>
    <td><%= link_to "Delete", list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>
