<div class="page-header">
  <h2>EDITING TASKS!</h2>
</div>
<br><br><br>

<%= form_for @task do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :type %>
  <%= f.text_field :type %>

  <%= f.submit %>

<% end %>
