this is my tasks index

<%= link_to "Add a Task", new_task_path %>








<tbody>
    <th>Name</th><th width="100px", class="text-center">Type</th><th></th><th></th><th></th><th></th>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task.name %></td>
        <td><%= task.type %></td>
        <td width="30px"><%= link_to 'Show', task, class: "pull-right btn btn-success" %></td>
        <td width="30px"><%= link_to 'Edit', edit_task_path(task), class: "pull-right btn btn-info" %></td>
        <td width="30px"><%= link_to 'Destroy', task, class: "pull-right btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
