<div>
  <h2>Items</h2>
</div>

  <%= link_to_if params[:filter], "All Items", items_path %> |
  <%= link_to_if params[:filter] != 'groceries', "Groceries", items_path(filter:"groceries") %> |
  <%= link_to_if params[:filter] != 'home_improvement', "Home Improvement", items_path(filter:"home_improvement") %> |
  <%= link_to_if params[:filter] != 'electronics', "Electronics", items_path(filter:"electronics") %> |
  <%= link_to_if params[:filter] != 'clothes', "Clothes", items_path(filter:"clothes") %> |




<table class="table">
  <tbody>
    <th width="200px">Name</th><th>groc</th><th >h.imp</th><th>elct</th><th>clths</th><th></th><th></th><th></th><th></th>
    <tr>
      <th colspan ="12">
      <%= form_for @item do |f| %>

        <%= f.text_field :name, class:"col-md-8" %>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.check_box :groceries %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.check_box :home_improvement %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.check_box :electronics %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.check_box :clothes %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.submit class:"btn btn-primary pull-right" %>

      <% end %>
    </th>
    </tr>

      <% @items.each do |item| %>

        <tr>

          <td class="col-md-8"><%= item.name %></td>
          <td><%= item.groceries %></td>
          <td><%= item.home_improvement %></td>
          <td><%= item.electronics %></td>
          <td><%= item.clothes %></td>
          <td></td>
          <td><%= link_to "Edit", edit_item_path(item), class:"btn btn-warning pull-right" %><td>
          <td><%= link_to "Delete", item, class:"btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      <% end %>
  </tbody>
</table>
